.hlist {
    list-style-type: none;
}

.hlist li {
    border-left: grey solid 1px;
    list-style: none !important;
    margin: 0 !important;
    padding-left: 24px;
}

.attribute-list .attributes-head {
}

dt {
    width: 100%
}